<nav>
    <div class="container">
        <div class="navbar">
            <div class="nav-brand">Hazmy</div>
            <ul id="nav-menu" class="nav-menu">
                <li><a id="resume" class="btn neoplus-nav" href="/" role="button">Resume</a></li>
                <li><a id="portofolio" class="btn neoplus-nav disabled" href="/portofolio" role="button">Portofolio</a></li>
                <li><a id="demo" class="btn neoplus-nav" href="/demo" role="button">Map Demo</a></li>
            </ul>
        </div>   
    </div>
</nav>