<div class="main-banner neomin">
        <div class="contents">
            <div class="title">
                <div class="typewriter">
                    <span style="--chars: 17">Web GIS Developer</span>
                    <span style="--chars: 22">Web GIS UI/UX Designer</span>
                    <span style="--chars: 20">Spatial Data Analyst</span>
                </div>
            </div>
            <img class="photo" src="img/profile.png" />
            <div class="contact">
                <h4>Connect with me</h4>
                <div class="social-links">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hazmyhz@gmail.com"
                        class="email neomin"><i class="icofont-letter"></i></a>
                    <a href="https://github.com/hazzzmy" class="github neomin"><i
                            class="icofont-github"></i></a>
                    <a href="https://wa.me/08989595833" class="whatsapp neomin"><i
                            class="icofont-brand-whatsapp"></i></a>
                    <a href="https://www.instagram.com/hazzzmy/" class="instagram neomin"><i
                            class="icofont-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/hazmy/" class="linkedin neomin"><i
                            class="icofont-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="section-content" style="margin-bottom:0">
            <div class="content-item item-info neoplus" style="padding:10px;justify-content: center;">
                <div class="info-dashboard">
                    <i class="icofont-children-care"></i>
                    <div class="dashboard-counter">
                        <h5 id="work-time" style="margin:0; font-weight: bold;"></h5>
                        <h5 style="margin:0">GIS Work Experience</h5>
                    </div>
                </div>
            </div>
            <div class="content-item item-info neoplus" style="padding:10px;justify-content: center;">
                <div class="info-dashboard">
                    <i class="icofont-map"></i>
                    <div class="dashboard-counter">
                        <h5 style="margin:0; font-weight: bold;">25</h5>
                        <h5 style="margin:0">Project Involved</h5>
                    </div>
                </div>
            </div>
            <div class="content-item item-info neoplus" style="padding:10px;justify-content: center;">
                <div class="info-dashboard">
                    <i class="icofont-dashboard-web"></i>
                    <div class="dashboard-counter">
                        <h5 id="total-viewer" style="margin:0; font-weight: bold;">0</h5>
                        <h5 style="margin:0">Website Visitor</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider">
        <div class="box2">
            <div class="neumorphic-slider" onselectstart="return false">
                <div class="neumorphic-slider__back"></div>
                <div class="neumorphic-slider__line"></div>
                <div class="neumorphic-slider__thumb"></div>
                <div class="neumorphic-slider__popover">100% Full of Passion</div>
            </div>
        </div>
    </div>
    <div class="big-container Resume">
        <div class="section-title">
            <h1 class="title">Resume</h1>
        </div>
        <div class="section-container">
            <div class="section-content education">
                <div class="content-item content-image neoplus"><img src="img/ipb.png" /></div>
                <div class="content-item content-image neoplus"><img src="img/himagreto.png" /></div>
                <div class="content-item item-info neoplus">
                    <div class="info-container">
                        <h4 style="font-weight: bold;">IPB University</h4>
                        <h5 style="font-weight: bold;">Geophysics and Meteorology</h5>
                        <h6>with Resources and Environmental Economic Minor Program</h6>
                    </div>
                    <div class="sub-info neomin">
                        <h6>2014-2019</h6>
                        <h6><strong>GPA 3.42</strong> </h6>
                    </div>
                </div>
            </div>
            <div class="section-content certification">
                <div class="content-item content-image neoplus"><img src="img/bnsp.png" /></div>
                <div class="content-item item-info neoplus">
                    <div class="info-container">
                        <h4 style="font-weight: bold;">Certified as Geographic Information System Analyst</h4>
                            <h5>Badan Nasional Sertifikasi Profesi</h4>
                    </div>
                    <div class="sub-info neomin">
                        <h6>2021-2023</h6>
                        <h6><strong>Level 6 0f 8</strong></h6>
                    </div>
                </div>
            </div>
            <div class="section-content work-experience">
                <div class="content-item content-image neoplus"><img src="img/bvarta.png" /></div>
                <div class="content-item item-info neoplus" style="flex:1">
                    <div class="info-container">
                        <h4 style="font-weight: bold;">Bhumi Varta Technology</h4>
                        <h5>Web GIS Developer</h5>
                        <h6>GIS RnD Division</h6>
                    </div>
                </div>
                <div class="content-item item-info neoplus">
                    <div class="info-container">
                        <!-- <h4><strong>PT Bhumi Varta Technology</strong></h4>
                        <h5><strong>Web GIS Developer</strong></h5>
                        <h6>GIS RnD Division</h6> -->
                    </div>
                    <div class="info-with-button">
                        <div class="sub-info neomin" style="margin-bottom:10px; flex:2;">
                            <h6>Apr 2021 - Currently</h6>
                            <h6 id="curr-work"><strong></strong></h6>
                        </div>
                        <button class="neoplus work-detail" style="height: 30px;border-radius:5px">More Detail</button>
                    </div>
                </div>
            </div>
            <div class="section-content work-experience">
                <div class="content-item content-image neoplus"><img src="img/dashindo.png" /></div>
                <div class="content-item item-info neoplus" style="flex:1">
                    <div class="info-container">
                        <h4 style="font-weight: bold;">Dashindo Solusi Integrasi</h4>
                        <h5>GIS Programmer</h5>
                        <h5>Web GIS UI/UX Designer</h5>
                        <h6>Production Division</h6>
                    </div>
                </div>
                <div class="content-item item-info neoplus">
                    <div class="info-container">
                        <!-- <h4><strong>PT Bhumi Varta Technology</strong></h4>
                        <h5><strong>Web GIS Developer</strong></h5>
                        <h6>GIS RnD Division</h6> -->
                    </div>
                    <div class="info-with-button">
                        <div class="sub-info neomin" style="margin-bottom:10px; flex:2;">
                            <h6>Apr 2019 - Mar 2021</h6>
                            <h6><strong>2 Years</strong></h6>
                        </div>
                        <button class="neoplus work-detail" style="height: 30px;border-radius:5px">More Detail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="big-container skill-set" style="background:#afe4e4; padding-top:0;">
    <hr style="margin-top:0">
    <div class="container" style="padding:30px">
    <div class="section-title">
        <h1 class="title">Skills Set</h1>
    </div>
    <div class="section-content skill-set-content" style="justify-content: center;">
        <div class="content-item skill-image neoplus-green"><img src="img/geoserver.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/leaflet.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/node.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/javascript.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/html.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/css.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/pgsql.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/git.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/docker.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/python.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/qgis.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/arcgis.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/arcgispro.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/gee.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/swAT.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/xd.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/cd.png" /></div>
        <div class="content-item skill-image neoplus-green"><img src="img/photoshop.png" /></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="vendor/js/script.js"></script> 
